In [55]:
import numpy as np 
import pandas as pd

In [56]:
df = pd.read_csv("train.csv")

In [57]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [58]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [59]:
mask= np.logical_and(df['Sex']=='female',df['Survived']==1)

In [60]:
df[mask].shape[0]

233

In [61]:
female_mask=df['Sex']=='female'

In [62]:
# make female = 1
df.loc[female_mask,'Sex']=1

In [63]:
# make male = 0
df.loc[~female_mask,'Sex']=0

In [64]:
df['Sex'].astype('int')
df['Sex']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    1
889    0
890    0
Name: Sex, Length: 891, dtype: object

In [65]:
df['Sex'].isna().sum()

0

In [66]:
df['Sex'].value_counts()

Sex
0    577
1    314
Name: count, dtype: int64

In [67]:
from sklearn.impute import SimpleImputer

In [68]:
imputer = SimpleImputer(strategy='mean')

In [69]:
mask=df['Age']<18

In [70]:
# checking if childs have perivlige to survive and it wasn't
df.loc[mask,'Survived'].value_counts()

Survived
1    61
0    52
Name: count, dtype: int64

In [71]:
df['Imputed_Age'] = imputer.fit_transform(df[['Age']])

In [72]:
df['Imputed_Age'].isna().sum()

0

In [73]:
mask1=df['Pclass']==1
mask2=df['Pclass']==3

In [74]:
df.loc[mask1,'Pclass']=3
df.loc[mask2,'Pclass']=1

In [75]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Imputed_Age'],
      dtype='object')

In [76]:
df['Embarked']

0      S
1      C
2      S
3      S
4      S
      ..
886    S
887    S
888    S
889    C
890    Q
Name: Embarked, Length: 891, dtype: object

In [77]:
df=df[['Sex','Imputed_Age','Pclass','Survived']]

In [80]:
X = df.iloc[:,:-1].values
y= df.iloc[:,-1].values

In [81]:
from sklearn.model_selection import train_test_split

In [82]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=24)

In [83]:
from sklearn.preprocessing import StandardScaler

In [84]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [87]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()

In [88]:
lr.fit(X_train_scaled,y_train)
lr.score(X_test_scaled,y_test)

0.8212290502793296

In [89]:
from sklearn.svm import SVC
svc = SVC(kernel='linear',random_state=42)

In [90]:
svc.fit(X_train_scaled,y_train)
svc.score(X_test_scaled,y_test)

0.7988826815642458